.cc85-positions-container{
  /* border: 1px solid red; */
  width: 100%;
  padding: 0.25rem;
}

.cc85-positions-container input{
  width: 100%;
  padding: 0.5rem 1rem;
}

.cc85-positions-container #resultados .cc85-position-card{
  margin: 2rem 0;
  /* border: 1px solid blue; */
  padding: 0.5rem;
  box-shadow: 10px 10px 20px black;
}

/*Hierarchy*/

.tf-tree{
  margin: 2rem 0;
}

.tf-nc{
  border: none !important;
  box-shadow: 10px 10px 10px #000;
 text-shadow: 2px 2px #000;
}

.tf-tree .members{
  background-color: white !important;
  color: #454545;
  width: 300px;

}

.members .member{
  margin: 1rem 0;
}

.font-size-controls{
  display: flex;
  flex-flow: row nowrap;
}

.font-size-controls i{
  cursor: pointer;
}


#main-hierarchy{
  font-size: 12px;
  transition: font-size 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 2px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
